html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

@mixin setLinkSelectorStyle {
  &:hover, &:link, &:active, &:visited {
        @content;
    }
}

$dimmed: #D8D8D8;
$background: #1D1E1F; 
$darkred: #6C0000; 

body {
    font-family: 'Helvetica Neue', 'Helvetica-Neue', 'Helvetica';
    background-color: $background;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    height: 100%;
    margin: 0;
  }

  .details__content.fading-out {
    opacity: 0;
    transition: opacity 350ms;
  }

  $details-padding: 25px;

  .card {
    border: 1px solid $dimmed;
    background-color: #000c;
    padding: $details-padding;
  }

  .details {
    border: 1px solid $dimmed;
    background-color: #000;
    z-index: 1; // to prevent tooltips from going over

    &__close {
      position: absolute;
      top: $details-padding/2;
      right: $details-padding/2;
      width: 22px;
      height: 22px;
      // background: #6C0000;
      // border-radius: 12px;
      fill: #fff;
    }

    &--hidden {
      display: none;
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 100%;

      p {
        line-height: 1.5em;
      }
    }

    &__top {
      display: flex;
      flex-direction: row;
    }

    &__img {
      width: 140px;
      object-fit: contain;
      object-position: left top;
      box-shadow: 0 0 20px rgba(0,0,0,0.15);
      height: 100%;
    }
  
    $element-margin: 18px;
    &__props {
      flex: 1 100; //1 grow 100 shrink
      // 1 grow gives it some basis
      color: #fff;
      margin: 0 0 0 $element-margin;
      max-height: 210px;
      overflow: scroll;

      &__title {
        font-weight: 400;
        font-size: 36px;
        margin: 0 0 4px 0;
      }

      &__year {
        font-size: 24px;
        font-weight: 200;
      }

      &__facts {
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
      }
    }

    &__bottom {
      color: #fff;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1 0 0;
      overflow: scroll;

      // TODO: see below
      padding-bottom: 35px;
    }

    &__text-title {
      text-transform: uppercase;
      font-size: 15px;
      margin-bottom: 0;
      display: inline-block;
    }

    &__plot, &__comment {
      margin: 0.5em 0;
    }

    &__comment {
      overflow: scroll;
    }

    &__links {
      display: block;
      // TODO: make it a second flex and use comment overflow...
      //position: absolute;
      //bottom: 0;
      margin-top: 7px;
      
      align-self: flex-end;
      font-size: 24px;
      font-weight: 200;
      &__imdb img {
        height: 35px;
        vertical-align: middle;
      }
      &__imdb {
        @include setLinkSelectorStyle {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  @media screen and (max-width: 650px) {
    .details {
      top: 0 !important;
      right: 0 !important;
      width: 92% !important;
      height: 92% !important;
      margin: 4%;
    }

    .controls {
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      overflow: scroll;
      white-space: nowrap;

      &__options {
        margin-left: 4px !important;
        margin-right: 20px;
        & > * {
          display: inline-block !important;
        }
      }
    }

    .controls > * {
      display: inline-block !important;
    }
  }

  .side {
    position: fixed;
    height: 520px + $details-padding * 2;
    width: 360px + $details-padding * 2;
  }
  
  .chart {
    float: left;
  }
  
  .button-area {
    padding: 40px 0 0 30px;
    float: left;
  }
  
  .app-button {
    display: block;
    margin-bottom: 3px;
  }
  
  .axis text {
    color: #fff;
  }

  .axis .axis__year-ticks {
    font-size: 70px;
    //font-weight: 600;
    fill: $darkred;
  }

  .axis .axis__month-ticks {
    font-size: 26px;
    font-weight: 300;
  }
  
  .axis.axis--month .domain {
    display: none;
  }

  .axis--year .tick line {
    display: none;
  }

  // selects the horizontal axis <path> element
  .axis--year .domain {
    stroke: $dimmed;
  }

  .axis--month line {
    stroke: $dimmed;
  }
  
  .line {
    stroke: orange;
    fill: none;
    stroke-width: 3px;
  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .tooltip {
    position: absolute;
    padding: 10px;
    font: 15px sans-serif;
    background: #222;
    color: #fff;
    border: 1px solid #fff;
    //border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
    visibility: hidden;
    //width: 200px;
    transition: all 0.3s;
  }

  .axis-container, .movies-container {
    overflow-x: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar { 
      display: none; 
    }
  }

  .axis-container {
    height: 110px;
    flex: 1 0 auto;
  }
  

  .movies-container {
    flex: 0 10 auto; // TODO: WHY does this work? (
    // combo with axis above - content here grows & shrinks
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar { 
      display: none; 
    }
  }

  .movieTile {
    transition: 0.3s all;
    // TODO: this only works in FF. Define svg filters...
    filter: drop-shadow( 0 6px 9px rgba(0,0,0,0.50));
    overflow: visible;

    &--highlighted {
      filter: drop-shadow( 0px 0px 10px rgba(255, 0, 0, 0.7));
    }
    position: relative;

    // &--series {
    // }

    &--selected {
      filter: drop-shadow( 0px 0px 10px rgba(255, 217, 0, 0.863));
    }

    &__favorite {
      display: block;
      height: 24px;
      width: 24px;
    }
  }

  .controls {
    position: absolute;
    left: 40px;
    top: 40px;
    line-height: 1.4rem;
    padding: 10px !important;

    color: #fff;
    font-size: 1rem;

    border: 1px solid #474747;
    background-color: #1D1E1FE6;
  
    &__title:not(:first-child) {
      margin-top: .3em;
      display: block;
    }

    &__options {
      margin-left: 20px;
      .block {
        display: block;
        width: -moz-fit-content;
        width: -webkit-fit-content;
      }
    }

    &__option.active {
      border-bottom: 2px solid #fff;
      padding-bottom: 1px;
    }
  }